body {
  font-family: tahoma;
  background-color: #182a39;
  color: aliceblue;
  font-family: "lato", sans-serif;
/*  animation: body 5s ease-in-out 0s infinite normal;*/
}

p {
  font-family: 'Lato', sans-serif;
}

li {
  font-family: 'Lato', sans-serif;
}

a {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-family: 'Roboto Condensed', sans-serif;
}

h2 {
  font-family: 'Roboto Condensed', sans-serif;
}

/** Header **/

#header-nav{
  background-color: lightblue;
}

.navbar-brand h1 {
  color: black;
  font-size: 1.5em;
  text-shadow: 1px 1px 1px whitesmoke;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 0;
  line-height: .65;
}

.navbar-brand a:hover, .navbar-brand a:focus{
  text-decoration: none;
}

#nav-list {
  margin-top: -40px;
}

#nav-list a {
  color: black;
  text-align: center;
  text-shadow: 1px 1px 1px whitesmoke;
  -webkit-transition: 1.2s ease-in-out color;
  -moz-transition: 1.2s ease-in-out color;
  -o-transition: 1.2s ease-in-out color;  
}
#nav-list a:hover {
  /*background-color: #182a39;*/
  color: darkblue;
  padding: 20px;
  /*text-shadow: none;*/
  font-weight: bold;
  font-size: 1em;
}

#nav-list a span {
  font-size: 1.2em;
} 

#phone {
  margin-top: 5px;
}
#phone a { /* Phone number */
  text-align: right;
  padding-bottom: 0;
}
#phone div { /* ...my online profie */
  color: red;
  text-align: right;
  padding-right: 25px;
  font-style: italic;
  font-size: 1em;
  margin-top: 0px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid darkred;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: 0px;
}

.navbar-toggle {
  position: relative;
  float: right;
  padding: 4px 5px;
  margin-top: px;
  margin-right: 15px;
  margin-bottom: 2px;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 4px;
}
#call-btn > a {
  font-size: 1.2em;
  display: block;
  margin: 0 15px;
  padding: 8px;
  border: 2px solid #fff;
  background-color: lightblue;
  color: black;
  }
/** End of Header **/

/** First page **/

#main-content h4{
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 5px;
}

#tab-info-1 span{
  font-weight: bold;
  padding: 10px;
  margin-top: 10px;
}

#p1 h5,#p2 h5{
  color: black;
  font-weight: bold;
  text-align: center;
}

#p1, #p2{
  display: grid;
  width: 48%;
  color: black;
  height: 200px;
  float: left;
  padding: 2px 5px;
  overflow: hidden;
  text-align: justify;
  background-color: lightblue;
  margin-inline: 4px;
}

#features h4{
  font-weight: bold;
  display: grid;
  text-align: center;
  margin-top: 10px;
}

#p3{
  color: black;
  width: 97%;
  height: auto;
  padding: 10px;
  background-color: lightblue;
}

#p3 h5{
  text-align: center;
  font-weight: bold;
}

#p1:hover, #p2:hover{
  background-color: steelblue;
  color: floralwhite;
  height: 250px;
  width: 49%;
  padding: 4px 10px;
}

#p3:hover{
  background-color: steelblue;
  color: floralwhite;
  height: 200px;
  width: 100%;
  padding: 10px;
}

#learn-more a{
  color: darkblue;
  /*text-decoration: underline;*/
  -webkit-transition: 0.5s ease-in-out color;
  -moz-transition: 0.5s ease-in-out color;
  -o-transition: 0.5s ease-in-out color;
}

#learn-more a:hover{
  color: white;
}

#p3 a{
  color: darkblue;
  /*text-decoration: underline;*/
  -webkit-transition: 0.5s ease-in-out color;
  -moz-transition: 0.5s ease-in-out color;
  -o-transition: 0.5s ease-in-out color;
}

#p3 a:hover{
  color: white;
}

/** End of First Page **/

/** Resume Page **/

#up{
  margin-left: 900px;
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px;
  background-color: white;
}

#side-up {
    margin-left: 300px;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
    background-color: white;
}

.resume-container{
  display: grid;
  grid-template-columns: 68% 30%;
  grid-gap: 30px;
  margin-left: 20px;
}

.resume-container h3{
  font-weight: bold;
  text-align: center;
}

.resume-container h4{
  font-weight: bold;
}

.sidebar {
  background: steelblue;
  padding-left: 10px;
  /*padding-right: 100px;*/
}

.sidebar a{
  color: black;
}
.sidebar h5{
  font-weight: bold;
}

#my-profile-nav ul {
  margin-top: 15px;
  margin-bottom: 10px;
  left: 0px;
  position: relative;
  right: auto;
}

#li-1, #li-2, #li-3, #li-4 {
  /*background-color: lightblue;*/
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  font-weight: bold;
  margin-inline: 80px;
}

#my-profile-nav li {
  display: inline;
  position: relative;
}

#my-profile-nav li a{
  text-decoration: none;
  color: whitesmoke;
}

}
/** End of Resume Page **/

/** Project Page **/

.posts-container{
  display: grid;
  grid-template-columns: 68% 30%;
  grid-gap: 30px;
  margin-left: 20px;
}

.posts-container h4{
  font-weight: bold;
  text-align: center;
}

.posts-container h5{
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 30px;
}

.personal-projects video{
  width: 460px;
  padding: 5px;
  -webkit-transition: 0.5s ease-in-out  all;
  -moz-transition: 0.5s ease-in-out  all;
  -o-transition: 0.5s ease-in-out  all;
}

.personal-projects video:hover{
  padding: 20px;
}

.featured-projects video{
  width: 460px;
  padding: 5px;
-webkit-transition: 0.5s ease-in-out  all;
  -moz-transition: 0.5s ease-in-out  all;
  -o-transition: 0.5s ease-in-out  all;
}

.featured-projects video:hover{
  padding: 20px;
}

.video-title{
  width: 400px;
  text-align: center;
  margin-top: -10px;
  margin-bottom: 10px;
}

/*.video-title span{
  text-align: center;
  clear: right;
}*/

/** End of Project page **/

/** Post Page **/

.posts-container{
  display: grid;
  grid-template-columns: 68% 30%;
  grid-gap: 30px;
  margin-left: 30px;
}

.posts-container h4{
  font-weight: bold;
  text-align: center;
}

.posts-container h5{
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.personal-posts video{
  width: 460px;
  /*padding: 5px;*/
  /*border: 1px solid white;*/
  /*background-color: lightblue;*/
  -webkit-transition: 0.5s ease-in-out  all;
  -moz-transition: 0.5s ease-in-out  all;
  -o-transition: 0.5s ease-in-out  all;
}

.personal-posts video:hover{
  padding: 20px;
}

.featured-posts video{
  width: 460px;
  padding: 5px;
-webkit-transition: 0.5s ease-in-out  all;
  -moz-transition: 0.5s ease-in-out  all;
  -o-transition: 0.5s ease-in-out  all;
}

.featured-posts video:hover{
  padding: 20px;
}

/** End of post page **/

/* FOOTER */
.panel-footer {
  color: white;
  margin-top: 30px;
  padding-top: 35px;
  padding-bottom: 30px;
  background-color: black;
  border-top: 0;
  font-family: tahoma;
}
.panel-footer div.row {
  margin-bottom: 35px;
}
#hours, #address {
  line-height: 1.5;
}
#hours > span, #address > span {
  font-size: 1.2em;
}
#address p {
  color: white;
  font-size: .8em;
  line-height: 1.5;
}
#testimonials {
  font-size: .7em;
  font-style: italic;
}
#testimonials p:nth-child(2) {
  margin-top: 25px;
}

.panel-footer .text-center {
  font-size: 12px;
}

.panel-footer img{
  margin-top: 10px;
  width: 25px;
  -webkit-transition: 1.2s ease-in-out  all;
  -moz-transition: 1.2s ease-in-out  all;
  -o-transition: 1.2s ease-in-out  all;
}

.panel-footer img:hover{
  width: 50px;
  padding-inline: 5px;
}

/* END FOOTER */



/*@keyframes body{
  from{background: steelblue;}
  to{background: #182a39;}
}*/

/********** large devices Only :-) **********/
@media (min-width: 1200px) {

}

/********** medium devices Only :-) **********/
@media (min-width: 992px) and (max-width: 1199px) {
  body{
    font-size: 1.3em;
  }

  /* Header */
.navbar-brand h1 {
  color: black;
  font-size: 1.2em;
  text-shadow: 1px 1px 1px whitesmoke;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 0;
  line-height: .65;
}

#nav-list {
  margin-top: -25px;
}

.navbar-nav li a {
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 10px;
}

#nav-list a span {
  font-size: 1.2em;
  padding-right: 5px;
  }

#nav-list a {
  color: black;
  text-align: center;
  text-shadow: 1px 1px 1px whitesmoke;
  font-size: 12px;
  }

 .navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 5px;
  margin-right: 15px;
}

/** First page **/

#main-content h4, #features h4 {
  margin-bottom: 7px;
  margin-top: 15px;
  font-size: 1em;
}

#tab-info-1 span{
  font-weight: bold;
  padding: 10px;
  margin-top: 10px;
}

#p1 h5,#p2 h5, #p3 h5{
  font-size: 1em;
  margin-top: 5px;
}

#p1, #p2{
  display: grid;
  width: 100%;
  height: 140px;
  padding: 5px;
  margin-top: 10px;
}

#p3 {
  display: grid;
  width: 100%;
  height: 140px;
  padding: 5px;
  margin-top: 10px;
}

#p1 p, #p2 p, #p3 p{
  margin-top: -15px;
}

#p1:hover, #p2:hover{
  background-color: steelblue;
  color: floralwhite;
  height: 160px;
  width: 100%;
  padding: 4px 10px;
}

#p3:hover{
  background-color: steelblue;
  color: floralwhite;
  height: 160px;
  width: 100%;
  padding: 10px;
}


/** End of First Page **/

/** Resume Page **/
#my-profile-nav ul {
  margin-top: 15px;
  margin-bottom: 10px;
  left: -45px;
  position: relative;
  right: auto;
}

#li-1, #li-2, #li-3, #li-4 {
  /*background-color: lightblue;
 /*/* margin-top: 10px;
  margin-bottom: 10px;
  padding: 1px;
  font-weight: bold;
  margin-inline: 15px;
}

#my-profile-nav li {
  display: inline;
  position: relative;
}

#my-profile-nav li a{
  text-decoration: none;
  color: whitesmoke;
  font-size: 1em;
}

.resume-container{
  display: grid;
  grid-template-columns: 65% 30%;
  grid-gap: 15px;
  margin-left: 15px;
}

.resume-container h3{
  font-size: 1.5em;
  margin-top: 0px;
}

.main-para h4{
  font-size: 1em;
}

.main-para p{
  margin-top: -5px;
  font-size: 0.9em;
}

.schools{
  margin-bottom: -10px;
}

.schools h4{
  font-size: 1em;
  margin-top: -10px;
}

.schools ul{
  font-size: 0.9em;
  padding-left: 20px; 
}

.experience{
  margin-bottom: -10px;
}

.experience h4{
  font-size: 1em;
  margin-top: -10px;
}

.experience ul{
  font-size: 0.9em;
  padding-left: 20px; 
}

.sidebar {
  background: steelblue;
  padding-left: 5px;
  padding-right: 5px;
}

.sidebar ul {
  padding-left: 10px;
}

.sidebar li {
  font-size: 0.7em;
}

.sidebar a{
  font-size: 0.7em;
}
.sidebar h5{
  font-size: 0.8em;
}

.sidebar img{
  display: none;
}

#up{
  margin-left: 0px;
  padding: 3px;
  margin-top: 0px;
}

#side-up {
  margin-left: 0px;
  padding: 3px;
}
/** End of Resume Page **/

/** Project Page **/

.posts-container{
  display: grid;
  grid-template-columns: 65% 30%;
  grid-gap: 15px;
  margin-left: 15px;
}

.posts-container h4{
  font-size: 1.2em;
}

.posts-container h5{
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.personal-projects video{
  width: 300px;
  -webkit-transition: 0.5s ease-in-out color;
  -moz-transition: 0.5s ease-in-out color;
  -o-transition: 0.5s ease-in-out color;
}

.personal-projects video:hover{
  padding: 20px;
}

.featured-projects video{
  width: 300px;
  padding: 5px;
-webkit-transition: 0.5s ease-in-out color;
  -moz-transition: 0.5s ease-in-out color;
  -o-transition: 0.5s ease-in-out color;
}

.featured-projects video:hover{
  padding: 20px;
}

/** End of Project page **/

/** Post Page **/

.posts-container{
  display: grid;
  grid-template-columns: 65% 30%;
  grid-gap: 10px;
  margin-left: 10px;
}

.posts-container h4{
  font-size: 1em;
}

.posts-container h5{
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

/** End of post page **/    
}

/********** small devices Only :-) **********/
@media (min-width: 768px) and (max-width: 991px) {
body{
    font-size: 1.3em;
  }

  /* Header */
.navbar-brand h1 {
  color: black;
  font-size: 1.2em;
  text-shadow: 1px 1px 1px whitesmoke;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 0;
  line-height: .65;
}

#nav-list {
  margin-top: -25px;
}

.navbar-nav li a {
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 10px;
}

#nav-list a span {
  font-size: 1.2em;
  padding-right: 5px;
  }

#nav-list a {
  color: black;
  text-align: center;
  text-shadow: 1px 1px 1px whitesmoke;
  font-size: 12px;
  }

 .navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 5px;
  margin-right: 15px;
}

/** First page **/

#main-content h4, #features h4 {
  margin-bottom: 7px;
  margin-top: 15px;
  font-size: 1em;
}

#tab-info-1 span{
  font-weight: bold;
  padding: 10px;
  margin-top: 10px;
}

#p1 h5,#p2 h5, #p3 h5{
  font-size: 1em;
  margin-top: 5px;
}

#p1, #p2{
  display: grid;
  width: 100%;
  height: 140px;
  padding: 5px;
  margin-top: 10px;
}

#p3 {
  display: grid;
  width: 100%;
  height: 140px;
  padding: 5px;
  margin-top: 10px;
}

#p1 p, #p2 p, #p3 p{
  margin-top: -15px;
}

#p1:hover, #p2:hover{
  background-color: steelblue;
  color: floralwhite;
  height: 160px;
  width: 100%;
  padding: 4px 10px;
}

#p3:hover{
  background-color: steelblue;
  color: floralwhite;
  height: 160px;
  width: 100%;
  padding: 10px;
}


/** End of First Page **/

/** Resume Page **/
#my-profile-nav ul {
  margin-top: 15px;
  margin-bottom: 10px;
  left: -45px;
  position: relative;
  right: auto;
}

#li-1, #li-2, #li-3, #li-4 {
  /*background-color: lightblue;
 /*/* margin-top: 10px;
  margin-bottom: 10px;
  padding: 1px;
  font-weight: bold;
  margin-inline: 15px;
}

#my-profile-nav li {
  display: inline;
  position: relative;
}

#my-profile-nav li a{
  text-decoration: none;
  color: whitesmoke;
  font-size: 1em;
}

.resume-container{
  display: grid;
  grid-template-columns: 65% 30%;
  grid-gap: 15px;
  margin-left: 15px;
}

.resume-container h3{
  font-size: 1.5em;
  margin-top: 0px;
}

.main-para h4{
  font-size: 1em;
}

.main-para p{
  margin-top: -5px;
  font-size: 0.9em;
}

.schools{
  margin-bottom: -10px;
}

.schools h4{
  font-size: 1em;
  margin-top: -10px;
}

.schools ul{
  font-size: 0.9em;
  padding-left: 20px; 
}

.experience{
  margin-bottom: -10px;
}

.experience h4{
  font-size: 1em;
  margin-top: -10px;
}

.experience ul{
  font-size: 0.9em;
  padding-left: 20px; 
}

.sidebar {
  background: steelblue;
  padding-left: 5px;
  padding-right: 5px;
}

.sidebar ul {
  padding-left: 10px;
}

.sidebar li {
  font-size: 0.7em;
}

.sidebar a{
  font-size: 0.7em;
}
.sidebar h5{
  font-size: 0.8em;
}

.sidebar img{
  display: none;
}

#up{
  margin-left: 0px;
  padding: 3px;
  margin-top: 0px;
}

#side-up {
  margin-left: 0px;
  padding: 3px;
}
/** End of Resume Page **/

/** Project Page **/

.posts-container{
  display: grid;
  grid-template-columns: 65% 30%;
  grid-gap: 15px;
  margin-left: 15px;
}

.posts-container h4{
  font-size: 1.2em;
}

.posts-container h5{
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.personal-projects video{
  width: 400px;
  margin-left: 40px;
  -webkit-transition: 0.5s ease-in-out color;
  -moz-transition: 0.5s ease-in-out color;
  -o-transition: 0.5s ease-in-out color;
}

.personal-projects video:hover{
  padding: 20px;
}

.featured-projects video{
  width: 400px;
  margin-left: 40px;
  padding: 5px;
-webkit-transition: 0.5s ease-in-out color;
  -moz-transition: 0.5s ease-in-out color;
  -o-transition: 0.5s ease-in-out color;
}

.featured-projects video:hover{
  padding: 20px;
}

/** End of Project page **/

/** Post Page **/

.posts-container{
  display: grid;
  grid-template-columns: 65% 30%;
  grid-gap: 10px;
  margin-left: 10px;
}

.posts-container h4{
  font-size: 1em;
}

.posts-container h5{
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

/** End of post page **/
}


/********** extra small devices Only :-) **********/
@media (min-width: 480px) and (max-width: 767px) {
body{
    font-size: 1.1em;
  }

  /* Header */
.navbar-brand h1 {
  color: black;
  font-size: 1.2em;
  text-shadow: 1px 1px 1px whitesmoke;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 0;
  line-height: .65;
}

#nav-list {
  margin-top: 0px;
}

.navbar-nav li a {
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 10px;
}

#nav-list a span {
  font-size: 1.2em;
  padding-right: 5px;
  }

#nav-list a {
  color: black;
  text-align: center;
  text-shadow: 1px 1px 1px whitesmoke;
  font-size: 12px;
  }

 .navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 5px;
  margin-right: 15px;
}

/** First page **/

#main-content h4, #features h4 {
  margin-bottom: 7px;
  margin-top: 15px;
  font-size: 1em;
}

#tab-info-1 span{
  font-weight: bold;
  padding: 10px;
  margin-top: 10px;
}

#p1 h5,#p2 h5, #p3 h5{
  font-size: 1em;
  margin-top: 5px;
}

#p1, #p2{
  display: grid;
  width: 100%;
  height: 140px;
  padding: 5px;
  margin-top: 10px;
}

#p3 {
  display: grid;
  width: 100%;
  height: 140px;
  padding: 5px;
  margin-top: 10px;
}

#p1 p, #p2 p, #p3 p{
  margin-top: -15px;
}

#p1:hover, #p2:hover{
  background-color: steelblue;
  color: floralwhite;
  height: 160px;
  width: 100%;
  padding: 4px 10px;
}

#p3:hover{
  background-color: steelblue;
  color: floralwhite;
  height: 160px;
  width: 100%;
  padding: 10px;
}


/** End of First Page **/

/** Resume Page **/
#my-profile-nav ul {
  margin-top: 15px;
  margin-bottom: 10px;
  left: -45px;
  position: relative;
  right: auto;
}

#li-1, #li-2, #li-3, #li-4 {
  /*background-color: lightblue;
 /*/* margin-top: 10px;
  margin-bottom: 10px;
  padding: 1px;
  font-weight: bold;
  margin-inline: 15px;
}

#my-profile-nav li {
  display: inline;
  position: relative;
}

#my-profile-nav li a{
  text-decoration: none;
  color: whitesmoke;
  font-size: 1em;
}

.resume-container{
  display: grid;
  grid-template-columns: 65% 30%;
  grid-gap: 15px;
  margin-left: 15px;
}

.resume-container h3{
  font-size: 1.5em;
  margin-top: 0px;
}

.main-para h4{
  font-size: 1em;
}

.main-para p{
  margin-top: -5px;
  font-size: 0.9em;
}

.schools{
  margin-bottom: -10px;
}

.schools h4{
  font-size: 1em;
  margin-top: -10px;
}

.schools ul{
  font-size: 0.9em;
  padding-left: 20px; 
}

.experience{
  margin-bottom: -10px;
}

.experience h4{
  font-size: 1em;
  margin-top: -10px;
}

.experience ul{
  font-size: 0.9em;
  padding-left: 20px; 
}

.sidebar {
  background: steelblue;
  padding-left: 5px;
  padding-right: 5px;
}

.sidebar ul {
  padding-left: 10px;
}

.sidebar li {
  font-size: 0.7em;
}

.sidebar a{
  font-size: 0.7em;
}
.sidebar h5{
  font-size: 0.8em;
}

.sidebar img{
  display: none;
}

#up{
  margin-left: 0px;
  padding: 3px;
  margin-top: 0px;
}

#side-up {
  margin-left: 0px;
  padding: 3px;
}
/** End of Resume Page **/

/** Project Page **/

.posts-container{
  display: grid;
  grid-template-columns: 65% 30%;
  grid-gap: 15px;
  margin-left: 15px;
}

.posts-container h4{
  font-size: 1.2em;
}

.posts-container h5{
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.personal-projects video{
  width: 300px;
  -webkit-transition: 0.5s ease-in-out color;
  -moz-transition: 0.5s ease-in-out color;
  -o-transition: 0.5s ease-in-out color;
}

.personal-projects video:hover{
  padding: 20px;
}

.featured-projects video{
  width: 300px;
  padding: 5px;
-webkit-transition: 0.5s ease-in-out color;
  -moz-transition: 0.5s ease-in-out color;
  -o-transition: 0.5s ease-in-out color;
}

.featured-projects video:hover{
  padding: 20px;
}

/** End of Project page **/

/** Post Page **/

.posts-container{
  display: grid;
  grid-template-columns: 65% 30%;
  grid-gap: 10px;
  margin-left: 10px;
}

.posts-container h4{
  font-size: 1em;
}

.posts-container h5{
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

/** End of post page **/
}


/********** super extra small devices Only :-) **********/
@media (min-width: 350px) and (max-width: 479px) {
  body{
    font-size: 1em;
  }

  /* Header */
.navbar-brand h1 {
  color: black;
  font-size: 1em;
  text-shadow: 1px 1px 1px whitesmoke;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 0;
  line-height: .65;
}

#nav-list {
  margin-top: 0px;
}

.navbar-nav li a {
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 10px;
}

#nav-list a span {
  font-size: 1.2em;
  padding-right: 5px;
  }

#nav-list a {
  color: black;
  text-align: center;
  text-shadow: 1px 1px 1px whitesmoke;
  font-size: 12px;
  }

 .navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 5px;
  margin-right: 15px;
}

/** First page **/

#main-content h4, #features h4 {
  margin-bottom: 10px;
  margin-top: 5px;
  font-size: 1em;
}

#tab-info-1 span{
  font-weight: bold;
  padding: 10px;
  margin-top: 10px;
}

#p1 h5,#p2 h5, #p3 h5{
  font-size: 1em;
  margin-top: 5px;
}

#p1, #p2{
  display: grid;
  width: 100%;
  height: 160px;
  padding: 5px;
  margin-top: 10px;
}

#p3 {
  display: grid;
  width: 100%;
  height: 160px;
  padding: 5px;
  margin-top: 10px;
}

#p1 p, #p2 p, #p3 p{
  margin-top: -15px;
}

#p1:hover, #p2:hover{
  background-color: steelblue;
  color: floralwhite;
  height: 180px;
  width: 100%;
  padding: 4px 10px;
}

#p3:hover{
  background-color: steelblue;
  color: floralwhite;
  height: 180px;
  width: 100%;
  padding: 10px;
}


/** End of First Page **/

/** Resume Page **/
#my-profile-nav ul {
  margin-top: 15px;
  margin-bottom: 10px;
  left: -50px;
  position: relative;
  right: auto;
}

#li-1, #li-2, #li-3, #li-4 {
  /*background-color: lightblue;
 /*/* margin-top: 10px;
  margin-bottom: 10px;
  padding: 1px;
  font-weight: bold;
  margin-inline: 3px;
}

#my-profile-nav li {
  display: inline;
  position: relative;
}

#my-profile-nav li a{
  text-decoration: none;
  color: whitesmoke;
  font-size: 1em;
}

.resume-container{
  display: grid;
  grid-template-columns: 65% 30%;
  grid-gap: 10px;
  margin-left: 10px;
}

.resume-container h3{
  font-size: 1.5em;
  margin-top: 0px;
}

.main-para h4{
  font-size: 1em;
}

.main-para p{
  margin-top: -5px;
  font-size: 0.9em;
}

.schools{
  margin-bottom: -10px;
}

.schools h4{
  font-size: 1em;
  margin-top: -10px;
}

.schools ul{
  font-size: 0.9em;
  padding-left: 20px; 
}

.experience{
  margin-bottom: -10px;
}

.experience h4{
  font-size: 1em;
  margin-top: -10px;
}

.experience ul{
  font-size: 0.9em;
  padding-left: 20px; 
}

.sidebar {
  background: steelblue;
  padding-left: 5px;
  padding-right: 0px;
}

.sidebar ul {
  padding-left: 10px;
}

.sidebar li {
  font-size: 0.7em;
}

.sidebar a{
  font-size: 0.7em;
}
.sidebar h5{
  font-size: 0.8em;
}

.sidebar img{
  display: none;
}

#up{
  margin-left: 0px;
  padding: 3px;
  margin-top: 0px;
}

#side-up {
  margin-left: 0px;
  padding: 3px;
}
/** End of Resume Page **/

/** Project Page **/

.posts-container{
  display: grid;
  grid-template-columns: 65% 30%;
  grid-gap: 10px;
  margin-left: 10px;
}

.posts-container h4{
  font-size: 1em;
}

.posts-container h5{
  font-size: 0.9em;
  margin-top: 10px;
  margin-bottom: 10px;
}

.personal-projects video{
  width: 220px;
  -webkit-transition: 0.5s ease-in-out color;
  -moz-transition: 0.5s ease-in-out color;
  -o-transition: 0.5s ease-in-out color;
}

.personal-projects video:hover{
  padding: 20px;
}

.featured-projects video{
  width: 220px;
  padding: 5px;
-webkit-transition: 0.5s ease-in-out color;
  -moz-transition: 0.5s ease-in-out color;
  -o-transition: 0.5s ease-in-out color;
}

.featured-projects video:hover{
  padding: 20px;
}

/** End of Project page **/

/** Post Page **/

.posts-container{
  display: grid;
  grid-template-columns: 65% 30%;
  grid-gap: 10px;
  margin-left: 10px;
}

.posts-container h4{
  font-size: 1em;
}

.posts-container h5{
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

/** End of post page **/
}